.team {

    height: 100vh;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 400;

    &__container {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    @include phones {

        padding: 0;
        margin: 25px 0 0 0;
    }

    &__list {

        display: flex;
        padding: 50px 0;

        @include tablets {

            flex-wrap: wrap;
            justify-content: space-evenly;
        }

        @include phones {

            padding: 15px 0 0 0;
        }
    }

    &__item {

        margin-right: 25px;
        width: 25%;

        .acc-body {

            height: 0;
            overflow: hidden;
            transition: height 0.5s;
            text-align: center;
        }

                
        &.active {

            .acc-body {

                height: 100px;
            }
        }

        &:last-child {

            margin-right: 0;
        }

        @include tablets {

            margin-right: 0;
            width: 40%;
            text-align: center;
        }
    }
}

.member-description {

    display: flex;
    flex-direction: column;
    text-align: center; 
    cursor: pointer;
}

.member-photo {

    margin-bottom: 25px;

    @include tablets {

        margin-bottom: 10px;
    }

    @include phones {

        margin-bottom: 5px;
    }

    &__img{

        max-width: 100%;
        max-height: 100%;
    }
}

.member-name {

    margin-bottom: 10px;
    font-size: 21px;
    color: #281e1e;
    font-weight: 600;

    @include phones {

        font-size: 14px;
    }
}

.acc-body__name {

    margin-bottom: 10px;
    font-size: 18px;

    @include phones {

        margin-bottom: 5px;
        font-size: 14px;
    }
}
.acc-body__text {

    @include phones {

        font-size: 14px;
    }
}